# Exclude log files
*.log

# Exclude zip files
*.zip

# Exclude the env files
.env

# Exclude byte-compiled files
__pycache__
*.pyc
*.pyo
*.pyd

# Exclude pip related files
pip-log.txt
pip-delete-this-directory.txt

# Exclude virtual env files
venv/

# Exclude build related files
build/

# Exclude any .git directory and its contents
.git/
.github/

# Exclude coverage related
coverage.xml
*.cover
.coverage
.coverage.*