version: '3'
services:
  hybrid-agi-db:
    image: falkordb/falkordb:edge
    container_name: hybrid-agi-db
    ports:
      - 6379:6379
  hybrid-agi-db-browser:
    image: redislabs/redisinsight:1.14.0
    container_name: hybrid-agi-db-browser
    depends_on:
      - hybrid-agi-db
    ports:
      - 8001:8001